<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="uZoneTec">
    <title>HIT RCMS</title>
    <style scoped>
        .layout {
            border: 1px solid #3399ff;
            background: #3399ff;
            width: 100%;
            height: 70px;
            text-align: center;
        }

        .layout-ceiling-main {
            float: right;
            margin-right: 10px;
            padding: 20px 0;
        }

        .font {
            font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        }

        .menu-font {
            font-size: 30px;
            color: #464c5b;
            padding: 10px 28px;
        }

        .menu-height {
            height: 100px;
            line-height: 74px;
            border: solid 1px #DDDDDD;
            border-radius: 5px;
        }

            .menu-height:hover {
                border: 2px solid #DDDDDD;
            }

        .gundong {
            line-height: 40px;
        }

        .top {
            background: #DDDDDD;
            border: solid 1px #DDDDDD;
            border-radius: 5px;
        }
        /*闪烁*/
        .wrong {
            height: 100px;
            line-height: 74px;
            border: solid 1px #DDDDDD;
            background: #fb1252;
            border-radius: 5px;
            -webkit-animation: twinkling 1s infinite ease-in-out;
        }

        .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        @-webkit-keyframes twinkling {
            0% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes twinkling {
            0% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/content/iview.css" />
    <link rel="stylesheet" type="text/css" href="/content/ionicons.css" />
    <script type="text/javascript" src="/scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/scripts/vue.min.js"></script>
    <script type="text/javascript" src="/scripts/uzen.js"></script>
    <script type="text/javascript" src="/scripts/iview.js"></script>
</head>
<body>
    <div id="app">
        <row>
            <i-col span="24">
                <div class="layout">
                    <span style="font-size:40px;color:#464c5b">智能楼宇水表监测系统</span>
                    <div class="layout-ceiling-main">
                        <a href="#" style="font-size:14px;color:#464c5b">帮助中心</a> |
                        <a href="#" style="font-size:14px;color:#464c5b">联系我们</a>
                    </div>

                </div>
            </i-col>
        </row>
        <row gutter="2">
            <i-col span="3">
                <i-menu theme="light" active-name="1" width="auto">
                    <Menu-item name="1" class="menu-height">
                        <Icon type="ios-list-outline" style="font-size:30px"></Icon>
                        <span class="menu-font">总&nbsp&nbsp&nbsp览</span>
                    </Menu-item>
                    <Menu-item name="2" class="wrong">
                        <Icon type="ios-bell" style="font-size:30px"></Icon>
                        <span class="menu-font">报&nbsp&nbsp&nbsp警</span>
                    </Menu-item>
                    <Menu-item name="3" class="menu-height">
                        <Icon type="ios-search-strong" style="font-size:30px"></Icon>
                        <span class="menu-font">明&nbsp&nbsp&nbsp细</span>
                    </Menu-item>
                    <Menu-item name="4" class="menu-height">
                        <Icon type="clipboard" style="font-size:30px"></Icon>
                        <span class="menu-font">报&nbsp&nbsp&nbsp表</span>
                    </Menu-item>
                    <Menu-item name="5" class="menu-height">
                        <Icon type="pie-graph" style="font-size:30px"></Icon>
                        <span class="menu-font">分&nbsp&nbsp&nbsp析</span>
                    </Menu-item>
                    <Menu-item name="6" class="menu-height">
                        <Icon type="ios-gear" style="font-size:30px"></Icon>
                        <span class="menu-font">配&nbsp&nbsp&nbsp置</span>
                    </Menu-item>
                </i-menu>
            </i-col>
            <i-col span="21">
                <row>
                    <i-col span="24">
                        <div class="top">
                            <MARQUEE id=a onmouseover=a.stop()
                                     onmouseout=a.start() scrollAmount=6 direction=left
                                     height=40>
                                <div class="gundong"><span style="font-size:18px;color:#00cc66">系统运行一切正常。。。</span></div>
                            </MARQUEE>
                        </div>
                    </i-col>
                </row>
                </br>
                <row>
                    <i-col span="24">
                        <div>
                            <i-form label-width="70" inline>
                                <Form-item label="起止时间">
                                    <row>
                                        <i-col span="11">
                                            <Date-picker type="daterange" placement="bottom-end" placeholder="选择日期" style="width: 200px"></Date-picker>
                                        </i-col>
                                        <i-col span="2" style="text-align: center">&nbsp&nbsp&nbsp-</i-col>
                                        <i-col span="11">
                                            <Time-picker type="timerange" placement="bottom-end" placeholder="选择时间" style="width: 200px"></Time-picker>
                                        </i-col>
                                    </row>
                                </Form-item>
                                <Form-item label="时间节点">
                                    <i-select style="width:80px">
                                        <i-option value="1">年份</i-option>
                                        <i-option value="2">半年</i-option>
                                        <i-option value="3">季度</i-option>
                                        <i-option value="4">月份</i-option>
                                        <i-option value="5">每天</i-option>
                                        <i-option value="6">ALL</i-option>
                                    </i-select>
                                </Form-item>
                                <Form-item label="分组">
                                    <i-select v-model="model1" style="width:200px" filterable multiple>
                                        <i-option value="1">楼一</i-option>
                                        <i-option value="2">楼二</i-option>
                                        <i-option value="3">组一</i-option>
                                        <i-option value="4">组二</i-option>
                                        <i-option value="5">楼一</i-option>
                                        <i-option value="6">楼二</i-option>
                                        <i-option value="7">组一</i-option>
                                        <i-option value="8">组二</i-option>
                                        <i-option value="9">楼一</i-option>
                                    </i-select>
                                </Form-item>
                                <Form-item label="楼层">
                                    <i-select v-model="model2" style="width:200px" filterable multiple>
                                        <i-option value="1">一楼</i-option>
                                        <i-option value="2">二楼</i-option>
                                        <i-option value="3">三楼</i-option>
                                        <i-option value="4">四楼</i-option>
                                    </i-select>
                                </Form-item>
                                <Form-item label="房间">
                                    <i-select v-model="model3" style="width:200px" filterable multiple>
                                        <i-option value="1">101</i-option>
                                        <i-option value="2">102</i-option>
                                        <i-option value="3">103</i-option>
                                        <i-option value="4">104</i-option>
                                    </i-select>
                                </Form-item>
                                <Form-item>
                                    <i-button type="primary"><Icon type="ios-search-strong" style="font-size:15px"></Icon>&nbsp查询</i-button>
                                </Form-item>
                            </i-form>
                        </div>
                    </i-col>
                </row>
                <row>
                    <i-col span="24">
                        <div style="width:100%;height:550px;background:#f6c85c;border: solid 1px #DDDDDD;border-radius: 5px;overflow:scroll;">
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                            <div style="float:left;width:260px;height:240px;background:#82f74c;border: solid 1px #DDDDDD;border-radius: 5px;"></div>
                        </div>
                    </i-col>
                </row>
                </br>
                <row>
                    <i-col span="24">
                        <div style="border: solid 1px #DDDDDD;border-radius: 5px;">
                            <i-table border :columns="columns1" :data="data1"></i-table>
                        </div>
                    </i-col>
                </row>
            </i-col>
        </row>

    </div>
    <script>
        var vue = new Vue({
            el: '#app',
            data() {
                return {
                    model1: [],
                    model2: [],
                    model3: [],
                    columns1: [
                 {
                     title: '用水类型',
                     key: 'type1'
                 },
                {
                    title: '用量',
                    key: 'amount1'
                },
                {
                    title: '用水类型',
                    key: 'type2'
                },
                {
                    title: '用量',
                    key: 'amount2'
                },
                {
                    title: '用水类型',
                    key: 'type3'
                },
                {
                    title: '用量',
                    key: 'amount3'
                }
                    ],
                    data1: [
                        {
                            type1: '用水总量',
                            amount1: 18,
                            type2: '热水总量',
                            amount2: 18,
                            type3: '冷水总量',
                            amount3: 18
                        },
                         {
                             type1: '总量平均',
                             amount1: 18,
                             type2: '热水平均',
                             amount2: 18,
                             type3: '冷水平均',
                             amount3: 18
                         }
                    ]
                }

            },
            methods: {

            }
        })

    </script>
</body>
</html>